

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@100;300;400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #636060;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #717171;
    font-size: 45px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.welcome_right button{
    width: 158px;
    height: 44px;
    color: #000000;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #E06733;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Inika';
	font-size: 16px;
}
li{
    list-style: none;
}
.green{
    color: #499A18;
}
.orange{
    color: #E06733;
}

a.nav_line:link, a.nav_line:visited, a.nav_line:active, .plants {
    text-decoration: none;
    color: #010201;
}
a.contact_us, a.footer_a{
    text-decoration: none;
}
a.nav_line_orange, a.nav_line_orange:hover , a.nav_line_orange:visited, a.nav_line_orange:active{
    text-decoration: none;
	font-weight: 700;
    color: #E06733;
}

a.nav_line:hover{
    text-decoration: none;
    color: #111;
    transform: scale(1.2);
    cursor: pointer;
}
a.nav_line_orange:hover{
    text-decoration: none;
    transform: scale(1.2);
    cursor: pointer;
}

.main_nav a, .plants{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    font-size: 16px;
}
.plants a:link, .plants a:visited, .plants a:hover, .plants a:active{
    text-decoration: none;
    color: #010201;
}
.plants{
    display: flex;
    justify-self: flex-start;
}

.main_nav{
    display: flex;
    justify-self: flex-end;
}
.service_nav{
    width: 100%;
    max-width: 1440px;
	margin-left: -19px;
	margin-bottom: 47px;;
}
.container{
	margin-top: 30px;
	margin-bottom: 55px;
    width: 1270px;
}

.lightgreen{
    width: 100%;
    background: #EDF2EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.welcome, .about, .service, .prices, .contacts{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
}
.welcome{
    padding-top: 30px;
    padding-bottom: 40px;
}
.about{
    padding-top: 86px;
    padding-bottom: 95px;
}
.service{
    padding-top: 20px;
    padding-bottom: 70px;
}
.prices{
    margin-top: -7px;
    padding-bottom: 125px;
}
.contacts{
    padding-top: 54px;
    padding-bottom: 18px;
}
.woman{
    width: 400px;
}
.welcome_container, .about_container, .service_container, .prices_container, .contact_container{
    width: 1222px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.container, .service_nav, .price_header{
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 1rem;
}
.main_header{
    display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 1440px;
	width: 100%;
    font-family: 'Inika';
    font-weight: 400;
}

.main_nav ul{
	margin: 1em 0 .5em;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main_nav li{
	display: inline;
}
.main_header a {
	display: inline-block;
	padding: .5em 1.5em;
}
.contact_container{
    justify-content: space-between;
    position: relative;
}
.contact_container h2{
    font-weight: 700;
    font-family: Inika;
    font-size: 40px;
    color: #499A18;

	margin-top: 10px;
	margin-left: 70px;
}

.city{
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;

    padding: 0px 20px;
	margin-top: 100px;
	margin-left: 30px;
}

.service_container {
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.welcome_right, .about_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-size: 20px;
    color: #636060;
}
.welcome_right{
    width: 550px;
    line-height: 35px;
}
.welcome_right p{
	width: 525px;
	margin-top: 5px;
	margin-bottom: 45px;
}
.welcome_left{
    width: 55%;
}
.welcome_left img{
    width: 448.8px;
    height: auto;
	margin-top: 35px;
}
.about_left{
    width: 55%;
    line-height: 30px;
}
.about_left p{
	width: 605px;
	margin-top: 4px;
}
.about_right{
    margin-left: 100px;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}
.service h2{
    width: 306px;
    flex-wrap: wrap;
    position: relative;
    margin-right: 4.2%;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
.about_left h2{
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.services a:link, .services a:visited, .services a:active, .services a:hover{
    text-decoration: none;
    color: #E06733;
    font-family: 'Inika';
    font-size: 20px;
    line-height: 26px;
}

.services{
    width: 50%;
	margin: 4px 10px 0 72px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.services button{
    font-family: 'Inika';
    font-size: 20px;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.service_nav {
    justify-content: flex-start;
    font-family: Inika;
}

.serv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E3E1D5;
    border-radius: 1.5rem;

    width: 329px;
    padding-bottom: 30px;
    margin-bottom: 50px;

    color: #717171;
    text-align: center;
    font-family: 'Inter';
    line-height: 20px;

	margin-bottom: 53px;
}
.serv h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
	margin-top: 10px;
}
.serv span{
    font-weight: 400;
    font-size: 16px;
	margin-top: -5px;
	padding-bottom: 4px;
}
.our_service{
    max-width: 100%;
    height: auto;
}
.contact_us{
    align-items: center;
    font-family: Inika;
    font-size: 20px;
    color: #E06733;
}
.right_price button{
    color: #E06733;
    border: 1px solid #E06733;
    background: transparent;
}
.right_price{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}
.dropdown{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    color: #000000;
    background: #EDF2EC;
	
	font-family: 'Inter';
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	text-indent: 4px;

	padding: 13px 34px;
    margin: 17px 0;

}
.drop_down{
    width: 16px;
    height: 16px;
}

.prices_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_header{
    width: 100%;
    display: flex;
}
.price_body{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1440px;
	width: 100%;
    font-family: 'Inika';
    font-weight: 400;
    justify-content: space-between;
}
.left_column{
    font-weight: 700;
    font-size: 20px;
    font-family: Inter;
    color: #000000;
    width: 330px;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    
	padding: 17px 0;
	margin-top: -23px;
}
.right_column{
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.right_column button{
    width: 162px;
    height: 50px;
    color: #E06733;
    border-radius: 5px;
    border: 1px solid #E06733;
    background: transparent;

	margin-top: 7px;
}
.price_header h2{
    width: 100%;
    display: flex;
    font-size: 40px;
    font-family: Inter;
    color: #000000;
    justify-content: space-between;
}
.left{
	width: 50%;
    display: flex;
    justify-self: flex-start;
}
.right{
    width: 40%;
    justify-self: flex-end;
    align-items: flex-end;
    text-align: right;
}
.column{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.leafs{
    width: 124px;
    height: 150px;
	object-fit: cover;
	object-position: 0 0;
	transform: scale(1.2, 1.2);
	align-self: flex-start;

	padding-top: 50px;
	padding-left: 13px;
}
footer{
    max-width:1440px;
    position: absolut;
    color: #000000;
	font-family: 'Inter';
	font-size: 20px;
	line-height: 50px;
	padding-top: 20px;
}
.footer{
    width: 1242px;
    display: flex;
    align-items: center;
	justify-content: space-between;
}
.copyright{
    flex-grow: 15;
    text-align: start;
}
.rolling{
    flex-grow: 13;
    text-align: center;
}
.social{
    flex-grow: 17;
	display: flex;
	align-items: center;
    justify-content: flex-end;
	margin-right: 20px;
}
.social ul{
	width: 50%;
	align-self: end;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.footer a, footer a:visited, footer a:hover, footer .plants a:active{
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 768px){
    .footer{
        flex-direction: column;
    }
    .main_header .container{
		justify-content: space-between;
	}
}